NEXT_PUBLIC_API_URL="http://localhost:3001/api"
NEXT_PUBLIC_WHATSAPP_URL="https://wa.me/6283896895536"
META_PIXEL_ID="1775848800523906"
META_CONVERSIONS_API_TOKEN=""
META_GRAPH_API_VERSION="v23.0"
META_TEST_EVENT_CODE=""
